# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

*.sass-cache
*.sublime-*


test.html
node_modules
js/app.js
js/app.txt
js/napp.txt
css/alert.css
img/warning.png
*.txt
data/data.json
